@import "../../../styles/index.scss";

.button {
  @include center;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  appearance: none;
  background: $question_button_bg_color;
  color: $question_button_text_color;
  border: 2px solid $question_button_border_color;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;

  &:focus {
    border-color: darken($color: $question_button_border_color, $amount: 0.8);
    color: darken($color: $question_button_text_color, $amount: 0.8);
  }

  &:hover {
    border-color: lighten($color: $question_button_border_color, $amount: 0.8);
    color: lighten($color: $question_button_text_color, $amount: 0.8);
  }

  &:active {
    border-color: darken($color: $question_button_border_color, $amount: 0.8);
    color: darken($color: $question_button_text_color, $amount: 0.8);
  }

  &.viewed {
    background: $question_button_viewed_bg_color;
    color: $question_button_viewed_text_color;
    border-color: $question_button_viewed_border_color;

    &:focus {
      background: darken(
        $color: $question_button_viewed_bg_color,
        $amount: 0.8
      );
    }

    &:hover {
      background: lighten(
        $color: $question_button_viewed_bg_color,
        $amount: 0.8
      );
    }

    &:active {
      background: darken(
        $color: $question_button_viewed_bg_color,
        $amount: 0.8
      );
    }
  }
}

.button_text {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}
