// Text Colors
$text_primary_color: #f4f4f4;
$text_secondary_color: #8c8d8e;
$text_active_color: #7685f7;
$text_info_color: #329cff;
$text_success_color: #329622;
$text_warning_color: #f2b863;
$text_danger_color: #af2525;
$text_error_color: #ff6769;
$text_positive_color: #bdec00;
$text_negative_color: #ec4700;
$text_navigation_color: #329cff;
$text_highlighted_color: #f87d37;

// Background Colors
$bg_main_color: #0d0d0d;
$bg_primary_color: #7685f7;
$bg_secondary_color: #161616;
$bg_third_color: #262626;
$bg_info_color: #7685f7;
$bg_success_color: #329622;
$bg_danger_color: #ff4d4f;
$bg_selected_color: #329cff;
$bg_negative_color: #d63030;
$bg_positive_color: #87df00;
$bg_notification_color: #d63030;

// Border Colors
$border_main_color: #1b1b1b;
$border_primary_color: #7685f7;
$border_secondary_color: #242424;
$border_third_color: #313341;
$border_info_color: #329cff;
$border_success_color: #6cb200;
$border_error_color: #f7706d;

// ALERT
$alert_success_bg_color: #0d0d0d;
$alert_success_text_color: #fff;
$alert_success_border_color: #329622;

$alert_error_bg_color: #0d0d0d;
$alert_error_text_color: #fff;
$alert_error_border_color: #d63030;

$alert_info_bg_color: #0d0d0d;
$alert_info_text_color: #fff;
$alert_info_border_color: #7685f7;
