// Text Colors
$text-primary-color: #f4f4f4;
$text-secondary-color: #8c8d8e;
$text-active-color: #7685f7;
$text-info-color: #329cff;
$text-success-color: #329622;
$text-warning-color: #f2b863;
$text-danger-color: #af2525;
$text-error-color: #ff6769;
$text-positive-color: #bdec00;
$text-negative-color: #ec4700;
$text-navigation-color: #329cff;
$text-muted-color: #646464;
$text-dark-color: #5b5b5b;
$text-light-color: #d7d7d7;
$text-highlighted-color: #f87d37;

// Background Colors
$bg-main-color: #0d0d0d;
$bg-primary-color: #7685f7;
$bg-secondary-color: #161616;
$bg-third-color: #262626;
$bg-info-color: #7685f7;
$bg-success-color: #329622;
$bg-danger-color: #ff4d4f;
$bg-selected-color: #329cff;
$bg-negative-color: #d63030;
$bg-positive-color: #87df00;
$bg-notification-color: #d63030;
$bg-color-1: #151515; // dark
$bg-color-2: #141414; // muted
$bg-color-3: #ffffff; // light
$bg-color-4: #f4f4f4; // silver

// Border Colors
$border-main-color: #1b1b1b;
$border-primary-color: #7685f7;
$border-secondary-color: #242424;
$border-third-color: #313341;
$border-info-color: #329cff;
$border-success-color: #6cb200;
$border-error-color: #f7706d;
$border-separate-line-color: #333;
$border-color-1: #4a5568; // Muted
$border-color-2: #161616; // Dark
