body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: normal;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  background: #0d0d0d;
  color: #ffffff;
  user-select: none;
}
