$page-layout-side-padding: 16px;

$page-header-height: 55px;
$sign-in-header-height: 46px;

$footer-nav-height: 57px;

$league-game-card-height: 65px;

$home-page-actions-section-height: 145px;
$home-page-actions-section-height-empty: 225px;

$member-card-height: 63px;
